body {
background-color: #FAF2DA;
}


h1 {
  color: #95E1D3;
  text-shadow: 1px 1px #4A503D;
}

h3 {
  color: #95E1D3;
}


hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;

}
